<h3>{{ 'coopLink' | translate }}</h3>
<p>{{ 'Estamos en paso 1' | translate }}: <a href="http://www.infocoop.go.cr/nuestros_servicios/5pasos/">Como crear una cooperativa en cinco pasos</a></p>

<br/>

<p>{{ 'otherCoops' | translate }}
<ul>
  <li><a href="http://www.coopelesca.co.cr/" target="_blank">Coopelesca R.L</a></li>
  <li><a href="http://www.coopealfaroruiz.com/" target="_blank">CoopeAlfaroRuiz R.L.<a/></li>
  <li><a href="http://www.coopesantos.com/contenido/" target="_blank">Coopesantos R.L.</a></li>
</ul>
</p>

<h3>{{ 'legalBasis' | translate }}</h3>
<p>{{ 'law4179' | translate }}</p>
<p>{{ 'law8642' | translate }}</p>
<p>{{ 'coopInfo' | translate }}</p>