<h3>{{ 'Connect' | translate }}</h3>
<p>{{ 'equipmentText' | translate }}</p>
<p>{{'toConnect' | translate }} <a href="https://www.ubnt.com/airmax/airgridm/" target="_blank">https://www.ubnt.com/airmax/airgridm/</a><br/>
<a href="https://www.redes.cr/producto/ub-ag-hp-5g23-iv/">https://www.redes.cr/producto/ub-ag-hp-5g23-iv/</a>
<img align="right" src="/images/airgrid_small.jpg" alt="AirGrid"></p>

<h3>{{ 'Share' | translate }}</h3>
<p>{{ 'toShare' | translate }}<br /><a href="https://www.redes.cr/producto/ub-uap-outdoor-iv/
">https://www.redes.cr/producto/ub-uap-outdoor-iv/
</a></p>

<h3>Backhaul</h3>
{{ 'PowerBeam' | translate }}
<a href="https://www.ubnt.com/airmax/powerbeam-ac/">https://www.ubnt.com/airmax/powerbeam-ac/</a>